.audio {
  color: $color-resolution-blue;

  background-color: rgba(#f5f6fa, 0.9);

  width: 340px;
  height: 220px;
  padding: 40px;

  &--active {
    padding: 0;
  }
}

.audio__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;

  margin: 0;
  margin-bottom: 4px;
}

.audio__over-line {
  display: flex;
  justify-content: space-between;

  margin-bottom: 14px;
}

.audio__band {
  color: rgba(28, 51, 116, 0.48);
  font-size: 14px;
  line-height: 120%;

  margin: 0;
}

.audio__over-line-controls {
  display: flex;
  gap: 17px;
}

.audio__control {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default-time;

  padding: 0;
  margin: 0;

  @include hover-focus {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.audio__line {
  position: relative;

  background-color: rgba($color-resolution-blue, 0.4);

  height: 2px;
  width: 100%;
  margin-bottom: 2px;
}

.audio__spent-line {
  position: absolute;
  inset: 0;
  right: 100%;

  background-color: rgba(11, 18, 48, 0.7);
}

.audio__point {
  position: absolute;
  top: -4px;
  right: calc(100% - 4px);

  border-radius: 50%;
  background-color: #0b1230;

  width: 8px;
  height: 8px;
}

.audio__metadata {
  display: flex;
  justify-content: space-between;

  margin-bottom: 6px;
}

.audio__current-time,
.audio__all-time {
  text-align: right;
  font-size: 10px;
  font-weight: 400;
}

.audio__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio__controls-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.audio__play {
  color: $color-default-text-antagonist;

  border-radius: 50%;
  background-color: $color-resolution-blue;

  width: 47px;
  height: 47px;
}
