$header__menu-trans-time: 300ms;

.header {
  position: relative;

  color: $color-default-text-antagonist;

  padding-top: 40px;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: $color-polo-blue;

    content: "";
  }

  &::after {
    position: fixed;
    inset: 0;
    z-index: -3;

    opacity: 0;
    transition: opacity $trans-default-time;
    background-color: rgba(#000000, 0.5);

    content: "";
  }

  @include tablet {
    transition: color $header__menu-trans-time;

    padding-top: 30px;
  }

  @include mobile {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.header__burger,
.header__logo,
.header__link,
.header__tel {
  position: relative;
  z-index: 4;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0 50px;
}

.header__navigation {
  @include tablet {
    position: absolute;
    right: 150vw;
    top: 0;
    z-index: 3;

    flex-direction: column;

    color: $color-default-text;

    background-color: $color-default-bg;
    transition: right $header__menu-trans-time;

    width: 100vw;
    padding: 114px 35px 60px;
  }

  @include mobile {
    padding: 94px $mobile-padding 45px;
    padding-left: 10px;
  }
}

.header__burger {
  display: none;

  @include tablet {
    position: relative;
    top: 9px;

    display: block;

    background-color: inherit;
    border: none;

    padding: 0;
    margin: 0;
    width: 26px;
    height: 18px;

    svg {
      width: 26px;
      height: 26px;
    }
  }

  @include mobile {
    position: relative;
    top: -1px;

    width: 25px;
    height: 28px;

    svg {
      width: 25px;
      height: 28px;
    }
  }
}

.header__burger-close {
  display: none;
}

.header__logo {
  display: flex;

  transition:
    opacity $trans-default-time,
    color $trans-default-time;

  width: 205px;
  height: 62px;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: auto;
  }

  @include hover-focus {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  @include tablet {
    width: 144px;
    height: 44px;
    margin-left: 100px;
  }

  @include mobile {
    width: 112px;
    height: 34px;
  }
}

.header__links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0;

  @include tablet {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;

    overflow-x: auto;

    max-height: 100vh;
    padding: 2px 0;
  }

  @include mobile {
    gap: 12px;
  }
}

.header__link {
  display: block;

  line-height: 100%;

  padding: 23px 8px;

  @include tablet {
    display: inline-block;

    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;

    padding: 10px;
  }

  @include mobile {
    font-size: 14px;
    letter-spacing: 0.56px;
    padding: 5px;
  }
}

.header__tels {
  flex-shrink: 0;

  @include mobile {
    position: absolute;
    top: 49px;
    right: $mobile-padding;

    font-size: 14px;

    padding: 6px 0;
  }
}

.header__tel {
  display: block;

  font-size: 18px;
  line-height: 100%;
  font-weight: 600;

  padding: 20px 0;

  @include tablet {
    font-size: 16px;

    padding: 12px 0;
  }

  @include mobile {
    font-size: 14px;

    padding: 3px 0;
  }
}

.header[data-burger-active="true"] {
  @include tablet {
    color: $color-default-text;

    .header__navigation {
      right: 0;
    }

    .header__burger-close {
      display: block;
    }

    .header__burger-open {
      display: none;
    }

    &::after {
      z-index: 2;

      opacity: 1;
    }
  }
}
