.secondary-button {
  display: inline-block;

  color: $color-default-text-antagonist;
  text-decoration: none;
  font-size: 12px;
  line-height: 133.33%;

  background-color: inherit;
  cursor: pointer;
  transition: opacity $trans-default-time;

  padding: 12px 17px;
  border: 1px solid rgba($color-default-text-antagonist, 0.5);

  svg {
    position: relative;
    top: 1px;

    margin-right: 8px;
  }

  @include hover {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.7;
  }

  @include disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
