.secondary-button {
  display: inline-block;

  color: $color-default-text-antagonist;
  text-decoration: none;
  font-size: 12px;
  line-height: 133.33%;

  background-color: inherit;

  padding: 12px 17px;
  margin: 0;
  border: 1px solid rgba($color-default-text-antagonist, 0.5);

  svg {
    position: relative;
    top: 1px;

    margin-right: 8px;
  }
}
