.container {
  width: 100%;
  max-width: (1200px + 2 * $desktop-padding);
  margin: 0 auto;
  padding: 0 $desktop-padding;

  @include tablet {
    padding: 0 $tablet-padding;
  }

  @include mobile {
    padding: 0 $mobile-padding;
  }
}
